#lockMyBike {
  margin-top: 10px;
}

body, #pusher {
  background-color: #f5f5f5;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

#title {
  padding-top: 75px;
}

@media only screen and (max-width:279px) {
  #nav_computer {
    display: none;
  }
  #nolock {
    display: none
  }
  .card {
    min-width: 96%;
  }
}

@media only screen and (max-width:768px) {
  #nav_computer {
    display: none;
  }
  .card {
    min-width: 96%;
  }
}

@media only screen and (min-width:769px) {
  #nav_phone {
    display: none;
  }
}

.hidden {
  visibility: hidden;
}
